audio {
	display:none;
}

.soundboard {

	li {
		width:50%;
		.type-margin-bottom(20px);

		a {
			display:block;
			margin-right:20px;
			background-repeat:no-repeat;
			background-position:center center;
			height:140px;
			min-width:140px;
			text-indent:-9999px;

			&:hover {
				.opacity(0.8);
			}

			&.puppy {
				background-image:url(../img/puppy.png);
			}
			&.kitten {
				background-image:url(../img/kitten.png);
			}
			&.cow {
				background-image:url(../img/cow.png);
			}
			&.chewbacca {
				background-image:url(../img/chewbacca.png);
			}
		}

		&:nth-child(even) {
			a {
				margin-right:0;
			}
		}
	}
}